/********************************************
*********************************************
**************vragen en to do****************
*********************************************
********************************************/
/* 
	animaties
	logo
*/


/********************************************
*********************************************
*****************ALGEMEEN********************
*********************************************
********************************************/
*,
*::after,
*::before {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body {
	background-color:var(--color-background);
	font-family: Arial, Helvetica, sans-serif;
  }

/********************************************
*********************************************
**************CUSTOM PROPERTIES**************
*********************************************
********************************************/
:root {
	--color-background:#ffffff;
	--color-black:#000000;
	--color-white:#ffffff;
	--color-purple: #5A6BEF;
	--color-dark-purple: #4c5ac7;
}

/********************************************
*********************************************
*******************TEKST********************
*********************************************
********************************************/
label {
	margin-top: -2em;
	color: var(--color-black);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
} 

p {
	color: var(--color-black);
	font-weight: bold;
	font-size: .9em;
	text-align: center;
	position: relative;
	width: 100%;
}

/********************************************
*********************************************
*******************HEADER********************
*********************************************
********************************************/
header aside {
	display: flex;
	justify-content: space-evenly;
}

header img:first-of-type {
	width: 100%;
	height: auto;
}

/********************************************
*********************************************
*****************FILTEREN********************
*********************************************
********************************************/
/* ul.actie li:not(.actieFilm) {
	display: none;
}
  
ul.comedy li:not(.comedyFilm) {
	display: none;
}
  
ul.horror li:not(.horrorFilm) {
	display: none;
} */

input[type="radio"] {
    position: absolute;
	left: -1000em;
}

input[type="radio"]:checked+label {
	color: var(--color-purple);
	text-decoration: underline;
}

ul li {
	display: none;
}

ul li.zichtbaar {
	display: list-item;
}

/********************************************
*********************************************
********************FILMS********************
*********************************************
********************************************/
li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}


ul li img {
	height: 25em;
	object-fit: contain;
}

ul li button {
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 4em;
	height: 4em;
	background-color: var(--color-purple);
}

ul li button:hover{
	background-color: var(--color-dark-purple);
}

ul li button img {
	width: 2em;
	height: 2em;
}
/********************************************
*********************************************
********************GRID*********************
*********************************************
********************************************/
ul{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 2em;
	margin: 0 auto;
}

/********************************************
*********************************************
*******************SLIDER********************
*********************************************
********************************************/
section {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 75%;
    background: var(--color-dark-purple);
    transform: translateY(90%);
    transition: all .8s;
	z-index: 50;
}

section.showmenu {
    transform: translateY(0%);
}

section div.btn {
	width:5em;
	aspect-ratio:2/.3;
	position: absolute;
	margin-left: 40%;
	margin-top: 1em;
	border-radius: 5px;
	color: var(--color-white);
	background-color: var(--color-white); 
}

/********************************************
*********************************************
***************BLOB ANIMATIE*****************
*********************************************
********************************************/
@keyframes draaien{
	0% {
	  transform:rotate(0turn);
	}
	100% {
	  transform:rotate(1turn);
	}
  }

  @keyframes blob {
	0% {
	  border-radius: 30% 50% 70% 30% / 40% 60% 80% 40%;
	}
	20% {
	  border-radius:40% 60% 30% 60% / 50% 60% 30% 40%;
	}
	40% {
	  border-radius:50% 40% 45% 40% / 55% 70% 20% 30%;
	}
	60% {
	  border-radius:60% 40% 60% 35% / 50% 35% 65% 40%;
	}
	80% {
	  border-radius:40% 60% 30% 40% / 20% 70% 30% 50%;
	}
	100% {
	  border-radius: 30% 50% 70% 30% / 40% 60% 80% 40%;
	}
  }

  section.blob{
	  z-index: -100;
  }
  
  section.blob div {
	width:9em; height:9em;
	background-color: var(--color-purple);
	animation:blob 10s linear infinite paused, draaien 40s linear infinite paused;
  }
  
  section.blob div {
	animation-play-state:running;
	position: relative;
  }

  section div.blob2 {
	position: relative;
  }

/********************************************
*********************************************
*******************DARKMODE******************
*********************************************
********************************************/
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #292929;
		--color-black: #ffffff;
   }
}

/********************************************
*********************************************
*****************BREAKPOINTS*****************
*********************************************
********************************************/
@media only screen and (max-width: 767px) {
	label{
		margin-top: 2em;
		margin-bottom: 1em;
		color: var(--color-black);
	}
	
	ul{
		width: fit-content;
		margin: 0 auto;
	}

	ul li img {
		height: 14em;
		margin-left: 1em;
	}
	section.blob div {
		margin-top: -10em;
		margin-left: 1em;
	  }
	
	  section div.blob2 {
		margin-top: -25em;
		margin-left: 65%;
	  }
}


  @media only screen and (min-width: 768px) and (max-width: 1200px) {
	
	label{
		margin-top: -15%;
		font-size: 1.7em;
		color: var(--color-white);
	} 

	input[type="radio"]:checked+label {
		color: var(--color-white);
		text-decoration: underline;
	}

	p {
		font-size: 1.2em;
	}

	ul{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1em;
	}

	ul li img {
		/* margin-top: 3em; */
		height: 20em;
		object-fit: contain;
		margin-left: 1em;
	}
	section div.btn {
		margin-left: 45%;
	}
	section.blob div {
		margin-top: -12em;
		margin-left: 2em;
	  }
	
	  section div.blob2 {
		margin-top: -30em;
		margin-left: 65%;
	  }
}



@media only screen and (min-width: 1201px) {
	
	label{
		margin-top: -20%;
		font-size: 2em;
		color: var(--color-white);
	} 

	input[type="radio"]:checked+label {
		color: var(--color-white);
		text-decoration: underline;
	}
	

	main ul:first-of-type {
		display: flex;
		width: 100%;
		overflow-x: auto;
		gap: 3em;
	}

	main ul:first-of-type  li {
		flex-shrink: 0;
	}
	
	main ul:first-of-type  li img {
		height: 20em;
	}

	p {
		margin-bottom: 8em;
	}
	section div.btn {
		margin-left: 48%;
	}

	ul {
		margin-top: 2em;
		margin-left: 3em;
	}
	section.blob div {
		margin-top: -12em;
		margin-left: 2em;
	  }
	
	  section div.blob2 {
		margin-top: -16em;
		margin-left: 70%;
	  }
	
}