/********************************************
*********************************************
*****************ALGEMEEN********************
*********************************************
********************************************/
*,
*::after,
*::before {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body {
	background-color:var(--color-background);
	font-family: Arial, Helvetica, sans-serif;
  }

/********************************************
*********************************************
**************CUSTOM PROPERTIES**************
*********************************************
********************************************/
:root {
	--color-background:#ffffff;
	--color-black:#000000;
	--color-white:#ffffff;
	--color-purple: #5A6BEF;
	--color-dark-purple: #4c5ac7;
}

/********************************************
*********************************************
*******************TEKST********************
*********************************************
********************************************/
label {
	cursor: pointer;
	margin-top: -2em;
	color: var(--color-black);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
} 

p {
	color: var(--color-black);
	font-weight: bold;
	font-size: .9em;
	text-align: center;
	position: relative;
	width: 100%;
}

/********************************************
*********************************************
*******************HEADER********************
*********************************************
********************************************/
header aside {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

header img:first-of-type {
	width: 100%;
	height: auto;
}

/********************************************
*********************************************
*****************FILTEREN********************
*********************************************
********************************************/
input[type="radio"] {
    position: absolute;
	left: -1000em;
}

input[type="radio"]:checked+label {
	color: var(--color-purple);
	text-decoration: underline;
}
input[type="radio"]:focus+label {
	/* color: 0 0 1em 1em black; */
	background-color: #000000	;
}

main > ul li {
	display: none;
}

ul li.zichtbaar {
	display: list-item;
}

button:focus{
	border: #000000;
}
/********************************************
*********************************************
********************FILMS********************
*********************************************
********************************************/
li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}


ul li img {
	height: 25em;
	object-fit: contain;
}

ul li button {
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 4em;
	height: 4em;
	background-color: var(--color-purple);
}

ul li button svg {
	width: 65%;
}

ul li button svg path {
	fill: var(--color-purple);
	stroke: white;
}

ul li button:hover{
	background-color: var(--color-dark-purple);
}

/********************************************
*********************************************
*****************FAVORIETEN******************
*********************************************
********************************************/
section:last-of-type ul {
	display: flex;
	gap: 1em;
	width: 100%;
	overflow: auto;
}

section:last-of-type p {
	display: inline;
	color: var(--color-white);
}

section:last-of-type ul li {
	display: none;
}

section:last-of-type ul li.favoriet {
	display: flex;
	width: fit-content;
}

ul li.favoriet button svg path {
	fill: var(--color-white);
	stroke: var(--color-white)
}

/********************************************
*********************************************
*******************SLIDER********************
*********************************************
********************************************/
section:last-of-type {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 75%;
    background: var(--color-dark-purple);
    transform: translateY(90%);
    transition: all .8s;
	z-index: 50;
}

section.showmenu {
    transform: translateY(0%);
}

/* div.btn {
	cursor: pointer;
	width:5em;
	aspect-ratio:2/.3;
	position: absolute;
	margin-left: 40%;
	margin-top: 1em;
	border-radius: 5px;
	color: var(--color-white);
	background-color: var(--color-white); 
} */

section:last-of-type button {
	cursor: pointer;
	width:5em;
	aspect-ratio:2/.3;
	position: absolute;
	margin-left: 40%;
	margin-top: 1em;
	border-radius: 5px;
	border: var(--color-white);
	color: var(--color-white);
	background-color: var(--color-white); 
}

/********************************************
*********************************************
***************BLOB ANIMATIE*****************
*********************************************
********************************************/
@keyframes draaien{
	0% {
	  transform:rotate(0turn);
	}
	100% {
	  transform:rotate(1turn);
	}
  }

  @keyframes blob {
	0% {
	  border-radius: 30% 50% 70% 30% / 40% 60% 80% 40%;
	}
	20% {
	  border-radius:40% 60% 30% 60% / 50% 60% 30% 40%;
	}
	40% {
	  border-radius:50% 40% 45% 40% / 55% 70% 20% 30%;
	}
	60% {
	  border-radius:60% 40% 60% 35% / 50% 35% 65% 40%;
	}
	80% {
	  border-radius:40% 60% 30% 40% / 20% 70% 30% 50%;
	}
	100% {
	  border-radius: 30% 50% 70% 30% / 40% 60% 80% 40%;
	}
  }
  
  div.blob {
	width:9em; height:9em;
	background-color: var(--color-purple);
	animation:blob 10s linear infinite paused, draaien 40s linear infinite paused;
  }
  
  div.blob {
	z-index: -100;
	animation-play-state:running;
	position: relative;
  }


/********************************************
*********************************************
*************ANIMATIE HARTJE*****************
*********************************************
********************************************/
@keyframes hartslag{
	0%{
	  transform: scale(1);
	}
	5%{
	  transform: scale(.7);
	}
	10%{
	  transform: scale(1.2);
	}
	15%{
	  transform: scale(.7);
	}
	20%{
	  transform: scale(1.2);
	}
	25%{
	  transform: scale(.7);
	}
	30%{
	  transform: scale(1);
	}
	100%{
	  transform: scale(1);
	}
  }

ul li.favoriet button svg {
	animation-name: hartslag;
	animation-duration: 2s;
	animation-iteration-count:1;
}

/********************************************
*********************************************
*******************DARKMODE******************
*********************************************
********************************************/
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #292929;
		--color-black: #ffffff;
   }
}

/********************************************
*********************************************
*****************BREAKPOINTS*****************
*********************************************
********************************************/
@media only screen and (max-width: 767px) {
	label{
		margin-top: 2em;
		margin-bottom: 1em;
		color: var(--color-black);
	}
	main > ul{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 2em;
		margin: 0 auto;
		width: fit-content;
	}

	ul li img {
		height: 14em;
		margin-left: 1em;
	}
	div.blob {
		margin-top: -10em;
		margin-left: 1em;
	  }
	
	div#blob2 {
		margin-top: -25em;
		margin-left: 65%;
	  }
	  section:last-of-type ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 2em;
		margin-top: 1.3em;
	}

	section:last-of-type p {
		font-size: 1.1em;
	}
}


  @media only screen and (min-width: 768px) and (max-width: 1200px) {
	
	label{
		margin-top: -15%;
		font-size: 1.7em;
		color: var(--color-white);
	} 

	input[type="radio"]:checked+label {
		color: var(--color-white);
		text-decoration: underline;
	}

	p {
		font-size: 1.2em;
	}

	ul.all{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1em;
	}

	ul li img {
		/* margin-top: 3em; */
		height: 20em;
		object-fit: contain;
		margin-left: 1em;
	}
	/* div.btn {
		margin-left: 45%;
	} */

	section:last-of-type button {
		margin-left: 45%;
	}

	div.blob {
		margin-top: -12em;
		margin-left: 6em;
	  }

	  section:last-of-type ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1em;
		margin-top: 1.3em;
	}
	
	 div#blob2 {
		margin-top: -30em;
		margin-left: 65%;
	  }
	  section:last-of-type p {
		font-size: 1.6em;
		margin-left: .3em;
	}
}



@media only screen and (min-width: 1201px) {
	header img:first-of-type {
		width: 100%;
		height: auto;
		margin-top: -10em;
	}

	label{
		margin-top: -13%;
		font-size: 2em;
		color: var(--color-white);
	} 

	input[type="radio"]:checked+label {
		color: var(--color-white);
		text-decoration: underline;
	}
	

	main ul:first-of-type {
		display: flex;
		width: 100%;
		overflow-x: auto;
		gap: 3em;
	}

	main ul:first-of-type  li {
		flex-shrink: 0;
	}
	
	main ul:first-of-type  li img {
		height: 20em;
	}

	p {
		margin-bottom: 8em;
	}

	/* div.btn {
		margin-left: 48%;
	} */

	section:last-of-type button {
		margin-left: 48%;
	}

	ul {
		/* margin-top: -1em; */
		padding-left: 3em;
	}
	 div.blob {
		margin-top: -14em;
		margin-left: 2em;
	  }
	
	  div#blob2 {
		margin-top: -16em;
		margin-left: 70%;
	  }
	  section:last-of-type ul {
		flex-direction: column;
	}
	  section:last-of-type p {
		font-size: 1.8em;
		margin-left: .5em;
	}
	
}